html, body, #root, .app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f4;
  padding: 10px;
}

.app.dark .app-header {
  background: #222;
  color: #fff;
}

.editor-container {
  flex: 1;
}

.app.dark .jsoneditor {
  background-color: #1e1e1e;
  color: #ccc;
}

.app.dark .jsoneditor-menu {
  background-color: #333;
  border-bottom: 1px solid #444;
}
